<div id="map"
     style="width: 100vw; height: 70vh;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
<div class="cards-farm">
  <% @farms.each do |farm|%>
    <div class="card-product" id="<%= farm.id %>">
      <img src=<%= farm.photo1 %> alt="">
      <div class="card-product-infos">
        <h2> <%= farm.address %> </h2>
        <p> <%= farm.content %></p>
      </div>
    </div>
  <% end %>
</div>






