<div id="map"
     style="width: 100vw; height: 70vh;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
<div class="cards-farm">
  <% @farms.each do |farm|%>
    <div class="card-product" id="<%= farm.id %>">
      <%= image_tag farm.photo1, class: "card-product-img" %>
      <div class="card-product-infos">
        <h2> <%= farm.user.first_name %> </h2>
        <h4> <%= farm.name %></h4>
        <p> <%= farm.content %></p>
      </div>
      <div class="favorite-farm">
        <i class="far fa-heart"></i>
      </div>
    </div>
  <% end %>
</div>
<%=  link_to 'listes', listFarms_path, class: 'btn btn-primary ml-3' %>
