<div id="map"
     style="width: 100vw; height: 70vh;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
<div class="cards-farm">
  <% @farms.each do |farm|%>
    <%= link_to farm_path(farm) do %>
    <div class="card-product" id="<%= farm.id %>">
      <%= image_tag farm.photo1, class: "card-product-img" %>
      <div class="card-product-infos">
        <p class="first-name mb-0"> <%= farm.user.first_name %> </p>
        <p class="picto-list-tag mb-0">Producteur de <%=farm.tag_list %> <%= image_tag "Pictos/#{farm.tag_list}.png", id:"picto-list" %></p>
        <p class="address mb-0"><strong>À <%= farm.address %></strong></p>
        <p class="content-description mb-0"><%= farm.content %></p>
      </div>
      <div class="favorite-farm">
        <i class="far fa-heart"></i>
      </div>
    </div>
  <% end %>
  <% end %>
</div>
<%=  link_to 'listes', listFarms_path(query: @querys, fruits: 'on'), class: 'btn btn-primary ml-3' %>

