<div class="container">
  <div class="content pr-3 pl-3">
     <a class="btn btn-info-list" href="#">Recherche <i class="fas fa-search"></i></a>
    <div class="farm-">
      <% @farms.each_with_index do |farm, i|%>
        <%= link_to farm_path(farm), class:'' do %>
          <div class="farm-images-list" id="<%= farm.id %>">
            <%= image_tag farm.photo1 %>
            <%= image_tag farm.photo_owner, class: "farm-user-list avatar-bordered" %>

            <div class="farm-description-list">
              <div class="farm-rating d-flex justify-content-center">
                (<%= @reviews[i].count %>)
                <% @ratings[i].times do %>
                  <i class="fas fa-star colored mt-1"></i>
                <% end %>
                  <div class="favorite-farm">
        <i class="far fa-heart"></i>
      </div>
                <% (5 - @ratings[i]).times do %>
                  <i class="fas fa-star mt-1"></i>
                <% end %>
              </div>
              <p class="first-name mb-0"> <%= farm.user.first_name %> </p>
              <p class="picto-list-tag mb-0">Producteur de <%=farm.tag_list %> <%= image_tag "Picto/#{farm.tag_list}.png", id:"picto-list" %></p>
              <p class="address mb-0"><strong>À <%= farm.address %></strong></p>
              <p class="content-description mb-0"><%= farm.content %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <%=  link_to ' Carte', farms_path(query: @address, fruits: 'on'), class: 'btn btn-primary fas fa-map-marked-alt ml-3 text-center'%>
</div>
