<!-- <ul> -->
 <!--  <ol> <%= @farm.user.first_name %> <%= @farm.user.last_name %> </ol> -->
  <!-- <ol><%= @farm.name %></ol> -->
  <!-- <ol><%= @farm.category %></ol> -->
<!-- </ul> -->

<ul>
  <li><%= @farm.address %></li>
  <li><%= @farm.tel %></li>
  <li><%= @farm.email %></li>
  <li><%= @farm.content %></li>
</ul>
<% @farm.products.each do |product| %>
  <%= product.name %>
  <%= product.price %>
  <%= product.units %>
<% end %>



<div class="farm-images">
  <%= image_tag @farm.photo1 %>
  <%= image_tag @farm.photo_owner, class: "farm-user avatar-bordered" %>
</div>
<div class="farm-rating d-flex mt-3 justify-content-center">
  <% 3.times do %>
    <i class="fas fa-star colored"></i>
  <% end %>
  <% (5 - 3).times do %>
    <i class="fas fa-star"></i>
  <% end %>
</div>
<div class="farm-description mt-3">

</div>
