<div class="farm-images">
  <%= image_tag @farm.photo1 %>
  <%= image_tag @farm.photo_owner, class: "farm-user avatar-bordered" %>
</div>
<div class="farm-rating d-flex justify-content-center">
  (<%= @reviews.count %>)
  <% @rating.times do %>
  <i class="fas fa-star colored mt-1"></i>
  <% end %>
  <% (5 - @rating).times do %>
  <i class="fas fa-star mt-1"></i>
  <% end %>
</div>
<div class="farm-description mt-3">
  <h3 class="mb-0"><%= @farm.name %></h3>
  <p class="mb-0"><%= @farm.user.first_name %> <%= @farm.user.last_name %></p>
  <p class="mb-0"><%= @farm.category %></p>
  <p class="mb-0"><%= @farm.email %></p>
  <p class="mb-0"><%= @farm.tel %></p>
  <p><%= @farm.content %></p>
</div>
<div class='d-flex align-items-center'>
  <i class="fas fa-map-marker-alt"></i>
  <h1 class='ml-2 mb-0'><%= @farm.address %></h1>
</div>
<div class="product-description mt-3">
  <% @farm.products.each do |product| %>
  <div class='product-images'>
    <%= image_tag "Photo-fond-blanc/Poires/poire_Packham.jpeg" %>
  </div>
  <p><%= product.name %></p>
  <p><%= product.price %></p>
  <p><%= product.units %></p>
  <% end %>
</div>
