<div class="container">
  <% if @farm %>
    <p class="first-name mb-0 text-center"> Mes commandes chez <%= @farm.user.first_name %> </p>
    <p class="picto-list-tag mb-0 text-center">Producteur de <%= @farm.tag_list %> <%= image_tag "Pictos/#{@farm.tag_list}.png", id:"picto-list" %></p>
  <% end %>
  <hr>
  <div class="list-item-order">
    <% @order_items.each_with_index do |order_item, i|%>
      <div class="card-item-order">
        <%= image_tag order_item.product.photo, class: "card-item-order-img" %>
        <div class="item-order-info">
          <p class="first-name m-1"> <%=order_item.product.name %></p>
          <p class="content-description m-1"> Quantité : <%= order_item.quantity %>  <%= order_item.product.units %></p>
          <p class="content-description m-1"> Prix unitaire : <%= order_item.product.price %> € / kg</p>
          <p class="content-description m-1"> Prix total : <%= (order_item.quantity * order_item.product.price).round(2) %> €</p>
        </div>
        <%= link_to '', order_item_path(order_item), method: :delete, class: 'item-delete fas fa-trash' %>
      </div>
    <% end %>
    <hr>
      <div class="card-total-order">
        <p class="total">TOTAL : <%= @sum %> €</p>
      </div>
  </div>
</div>

