<div class="container">
  <div class="content pr-3 pl-3">
    <div class="product-">
      <div class = "product-images-list" >
        <%= image_tag @product.photo %>
      </div>
      <div class="product-description-list">
        <h2 class="h2-center"><%= @product.name %></h2>
        <p class="content"> <%= @product.content %></p>
        <div class="p-u-products" id="product-cart">
          <div class="input-group">
            <div class="input-group-btn mr-2">
                <button id="down" class="btn btn-default">
                  <span class="glyphicon glyphicon-minus"><%= image_tag "Picto_component/picto_moins.png" %></span>
                </button>
            </div>
            <p id="display-quantity">1</p><p class="units ml-1" id="unit"> <%= @product.units %> </p>
            <div class="input-group-btn">
                <button id="up" class="btn btn-default ml-2">
                  <span class="glyphicon glyphicon-plus"><%= image_tag "Picto_component/picto_plus.png" %></span>
                </button>
            </div>
        </div>
          <p class="price"> <%= @product.price %> € / le <%= @product.units %> </p>
          <p class="total", id="total-item"> Total : <%= @product.price %> € </p>
          <%= @order_item.product %>
          <% @order_item.market = @product.farm.markets.first %>
          <%= form_for @order_item do |f| %>
            <%= f.hidden_field :product_id, value: @product.id %>
            <%= f.hidden_field :market_id, value: @order_item.market.id %>
            <%= f.hidden_field :order_id, value: @order_item.order.id %>
            <%= f.hidden_field :quantity, value: 1, class:"form-control input-number", id:"myNumber" %>
            <%= f.submit 'Ajouter au panier', class:' btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>